.App {
  text-align: center;
  background-image: url('./images/bg.jpg');
  /* position: fixed; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  color: white;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;	
}

/* ========= Container styles ========== */

.wrapper {
display: block;
padding: 40px;
background: url('../src/images/border-bottom.png') repeat-x 100px bottom;
}


.wrapper-right {
  display: block;
  background: url('../src/images/border.png') repeat-y 100px;
  background-position: center;
  margin-top: auto;
}


/* .author_name
{
  font: 80px Verdana, Arial, Helvetica, sans-serif;
 margin: 6px 0 -6px 0;
} */


.occupation
{font-size: 13px;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}


.nav-item a{
  background-color:transparent;
  color: #ffff;
  list-style:none; 
}


.header {
  align: center;
  justify-content: center;
  font: 13px Verdana, Arial, Helvetica, sans-serif;
  color: white;
  margin-right: 10px;
}
span {
  margin-right: 10px;
  margin-top:5px;
}

.heading {
  background-color: transparent;
  color: white;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #03167e;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


  