.App {
    text-align: center;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    color: black;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    line-height: 20px;  
  }
  
  /* ========= Container styles ========== */
  
  .wrapper {
  display: block;
  padding: 15px;
  background: url('../src/images/border-bottom.png') repeat-x 100px bottom;
  }
  
  .wrapper-header {
    margin-bottom: 0px;
    background: url('../src/images/border-bottom.png') repeat-x 100px bottom;
  }
  
  .wrapper-right {
    display: block;
    background: url('../src/images/border.png') repeat-y 100px;
    background-position: center;
    margin-top: auto;
  }

  @media only screen and (max-width: 767px) {
    .wrapper-right {
      background:none;
     }
}
  
  .fa {
    margin-right: 5px;
  }

  .MuiAccordionSummary-root {
    padding : 0 !important;
 }

  .occupation {
    font-size: 12.8px;
    color: white;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  }
  
  .row-header{
    margin:0px auto;
    padding:0px auto;
  }
  
  .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
  }
  
  .footer{
    background-color: transparent;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: #fff;
  }
  .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
  }
  
  address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  
  .nav-item a{
    background-color:transparent;
    color: #ffff;
    list-style:none; 
  }
  
  .header {
    display: block;
    justify-content: center;
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 767px) {
    .header {
      padding: 40px 0px 20px 0px;
     }
}
  
  .header-logo h2 {
   letter-spacing: 3px;  
   color: snow;
   font-size: 2.3rem;
  }

 @media screen and (max-width: 990px) {
    .header-logo h2 {
      font-size: 1.5rem; 
    }
    .header-logo h3 {
      font-size: 1rem;
    }
  }  

 @media screen and (max-width: 514px) {
    .header-logo h2 {
      font-size: 24px; 
      color: white;
    }
    .header-logo h3 {
      font-size: 20px;
      color: white;
    }
  }  

  @media screen and (max-width: 467px) {
    .header-logo h2 {
      font-size: 18px;
      color: white;
    }
    .header-logo h3 {
      font-size: 14px;
      color: white;
    }
  } 
  

  span {
    margin-right: 10px;
    margin-top:5px;
  }
  
  .heading {
    background-color: transparent;
    color: white;
  }
  
  .fa-icons {
    margin: 16px!important;
    padding: 16px;
  }
  
  .btn-social-icon {
    margin-right: 7px;
    margin-bottom: 7px;
    color: white;
    
  }
  
  .checked {
    color: orange;
  }
  
  .unchecked {
    color: grey;;
  }
  
  /* .my_image{
    padding-left: 1px;
    margin-left:1px;
    float: left;
   } */

   .picture {
    height: 380px;
    width: 380px;
    border-radius: 50%; 
    margin: 10;
    padding: 10px;
    border: 5px solid rgba(255, 255, 255, .5);
    max-width: 100%;
   }

   @media only screen and (max-width: 467px) {
    .picture {
    height: 280px;
    width: 280px;
    border-radius: 50%; 
    margin: 0;
    padding: 5px;
    border: 5px solid rgba(255, 255, 255, .5);
    max-width: 100%;
     }
}
  
   .social{
     margin:0px;
     padding:0px;
   }
  
  .expdescription  {
    font-size: 13px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }
 
  .App-link {
    color: #03167e;
  }
  
  .list-group-item {
    background-color: transparent;
  }
  
  .list-group-item .li {
    margin: 5px;
  
  }
  
  .list-group .list-group-item {
    color: white;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    padding: 1rem 0.2rem;
  }
  
  .list-group-item-undefined {
    margin: 0px;
  }
  
  .list-group-item-undefined{
    margin: 0px;
  }

  .no-bullets {
    list-style-type: none;
    padding-left: 0px;
}
  
/* ========= Contact styles ========== */

.contact {
border: 10px solid #2e2e2e;

background: #080808;
z-index: 9999;
}

.contactBody {
  background-color:#080808;
  color: white;
}

.contact_header {
  color: white;
  background-color: grey;
}

/* ========= Contact styles ends ========== */

.card-body .navbar {
  padding: 1px;
}
.navbar .nav-link{
  display: block;
  padding: 0.50rem 0rem;
}

.link { color: white }
.link:hover { color:rgb(53, 100, 187); } 

.navbar-default .navbar-nav > li > a {
  color: white;
}
